body {
    background-color: rgb(27, 169, 194);
    color: aliceblue;
}

header {
text-align: center;
}

section {
background-color: white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
text-align: center;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.753);
}

footer {
text-align: center;
}

select {  overflow:hidden; }

img {
    width: 150px;
    height: 150px;
    padding-left: 10%;
}

.lapis {
    width: 80px;
    padding-right: 10%;
}